div.primarycolor, div.secondarycolor, div.tertiarycolor, div.lightbackground, div.darkbackground {
  padding: 1rem;
  margin-top: .5rem;
  color: var(--text-color-2);
}

div.primarycolor {
  background: var(--primary-color);
}

div.secondarycolor {
  background: var(--secondary-color);
}

div.tertiarycolor {
  background: var(--tertiary-color);
  color: var(--text-color-1);
}

div.lightbackground {
  background: var(--background-color-1);
  color: var(--text-color-1);
}

div.darkbackground {
  background: var(--background-color-2);
}


div.accordiondemo {
  max-width: 350px;
}

@media (min-width: 400px) {

  form#demoform {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5em;
  
    > label, > fieldset {
      min-width: 180px;
    }

    > fieldset, div {
      grid-column-start: span 2;
    }

    div {
      text-align: right;
    }

  }

}


@media (min-width: 600px) {

  form#demoform {
    grid-template-columns: repeat(3, 1fr);

    > fieldset, div {
      grid-column-start: span 3;
    }

  }
  
}

